<h1 style="color:#B59BC9">MJW</h1>

Thoughts about the world and living in it.<br>
<br>

<a href="/about">
      About
</a>

<div>
  <div>
    <h1>
      List of all posts
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new post
    </h2>

    <form action="/insert_post" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="content_box">
          Content
        </label>

        <textarea id="content_box" name="query_content" rows="3"></textarea>
      </div>

      <div>
        <label for="title_box">
          Title
        </label>

        <textarea id="title_box" name="query_title" rows="3"></textarea>
      </div>

      <div>
        <label for="tag_box">
          Tag
        </label>

        <input type="text" id="tag_box" name="query_tag">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <div>
        <label for="mood_box">
          Mood
        </label>

        <input type="text" id="mood_box" name="query_mood">
      </div>

      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count">
      </div>

      <button>
        Create post
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Content
        </th>

        <th>
          Title
        </th>

        <th>
          Tag
        </th>

        <th>
          Image
        </th>

        <th>
          Mood
        </th>

        <th>
          Comments count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_posts.each do |a_post| %>
      <tr>
        <td>
          <%= a_post.id %>
        </td>

        <td>
          <%= a_post.user_id %>
        </td>

        <td>
          <%= a_post.content %>
        </td>

        <td>
          <%= a_post.title %>
        </td>

        <td>
          <%= a_post.tag %>
        </td>

        <td>
          <%= a_post.image %>
        </td>

        <td>
          <%= a_post.mood %>
        </td>

        <td>
          <%= a_post.comments_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_post.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_post.updated_at) %> ago
        </td>

        <td>
          <a href="/posts/<%= a_post.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
